button {
  width: 70px;
  cursor: pointer;
  background-color: rgb(34, 223, 50);
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

body {
  background-color: rgb(32, 120, 221);

}